@model EcommerceStore.Web.Areas.Admin.ViewModel.EcommerceStoreDiscountList
@{
    ViewBag.Title = "_Listing";
}

@if (Model != null && Model.discounts.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>名字</th>
                <th>折扣</th>
                <th>活動內容</th>
                <th>開始日期</th>
                <th>結束日期</th>
                <th>圖片</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var Discount in Model.discounts)
            {
            <tr>

                <td>@Discount.Id</td>

                <td>@Discount.Name</td>
                <td>@Discount.DiscountPreceint</td>
                <td>@Discount.Description</td>
                <td>

                    @Discount.StartDiscount.ToString("yyyy-MM-dd")
                </td>
                <td>

                    @Discount.EndDiscount.ToString("yyyy-MM-dd")
                </td>
                <td>
                    <img src="@Url.Content(Discount.DescriptImage)" title="@Discount.Name" />
                </td>
                <td>

                    <button id="ActionButton" data-href="@Url.Action("Action", "Discounts", new { Id = Discount.Id })" type="button" class="data-btn btn btn-success" data-bs-toggle="modal" data-bs-target="#ActionModal">更新</button>

                    <!--<-->@*button type="button" data-href="@Url.Action("Delete", "Discount", new { Id = Discount.Id })" class="data-btn btn btn-success" data-bs-toggle="modal" data-bs-target="#ActionModal"><i class="fas fa-trash-alt mr-1"></i>刪除</button>*@


                    <button id="ActionButton" data-href="@Url.Action("Delete", "Discounts", new { Id = Discount.Id })" type="button" class="data-btn btn btn-success" data-bs-toggle="modal" data-bs-target="#ActionModal">刪除</button>
                </td>


            </tr>
            }



        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
       <h3>抱歉!!  現在還沒有資料!!</h3>
    </div>

}


